body{
    
    background-color: #f2edd7;
}
/* universal button styles */
.button{
 
    text-align: center;
    text-decoration: none;
    margin:30px 30px ;
    font-size: 1.5rem;
    border: none;
    color: white;
    padding: 50px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.button:active{
    transform: translate(0px, 2px);
   
    box-shadow: 0px 1px 0px 0px;
}



/* styling button */
#but1{
    background-color: #3a6351;
}
#but2{
    background-color: #3a6351;
}
#butreset{
    background-color: #c15050;
    
}

#result{
        color: black;
   background-color: #f2edd7;
   border-style: solid;
   border-color: teal;
   
}


#container{
 width: 80%;
}

/* <!-- Nikola Stanin 21.04.2021. 13h25min --> */